
<div class="pure-g">
  <div class="pure-u-3-4">

    <p>Congratulations! Here’s a privacy statement for you to use. You should show this to people when you get personal information from them:</p>

    {{render "statement" model.statement}}

    <p>
      You can make your statement better by:

      <ul class="non-bullet-list">
        <li>
          {{#link-to "steps.step" 9 class="non-link"}}
          {{input type="checkbox" checked=keptSecurely id="keptSecurely"}}
          <label for="keptSecurely">Reassuring your users their data is kept securely</label>
          {{/link-to}}
        </li>
        <li>
          {{#link-to "steps.step" 10 class="non-link"}}
            {{input type="checkbox" checked=dataDestruction id="dataDestruction"}}
            <label for="dataDestruction">Informing your users about data lifetimes and disposal</label>
          {{/link-to}}

        </li>
      </ul>
    </p>
  </div>

  <div class="pure-u-1-4">
    {{#step-help buttonText="More about privacy"}}
      <p>
        You're required to show this to a user before you get information from them, or if this is not possible, as soon as you can after that. See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/" target="_blank">Privacy Principle 3</a>
        for more.
      </p>

      <p>
        If you have any questions or concerns about the statement, check out the
        <a href="https://privacy.org.nz/how-to-comply/your-obligations/" target="_blank">Office of the Privacy Commissioner’s help information</a>,
        or contact our
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/" target="_blank">Enquiries Line</a>.
        You can always add to or change the statement based on this advice.
      </p>

      <p>
        If you collect medical information special rules apply, and you should see the
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/" target="_blank">Privacy Health Toolkit</a>
        for more.
      </p>
    {{/step-help}}
  </div>
</div>

