
<div class="pure-g">
  <div class="pure-u-3-4">


    <p>
      We keep user's information
      <span class="text-input">{{input type="text" value=model.statement.dataRetentionTime placeholder="for two years" size="15"}}</span>,
      at which point we securely destroy it by
      <span class="text-input">{{input type="text" value=model.statement.dataDestructionMethod placeholder="securely erasing all digital copies" size="20"}}</span>.
    </p>

    {{yield}}

  </div>

  <div class="pure-u-1-4">
    {{#step-help buttonText="How long can we keep info?"}}
      <p>You shouldn't keep information for longer than is necessary for it's purpose.</p>

      <p>
        See
        <a href="https://privacy.org.nz/agency-not-to-keep-personal-information-for-longer-than-necessary-principle-nine/" target="_blank">Privacy Principle 9</a>
        for more.
      </p>
    {{/step-help}}
  </div>
</div>
