
<div class="pure-g">
  <div class="pure-u-3-4">

    <p>
      We keep the personal information we hold safe by
      <span class="text-input">{{input type="text" placeholder="storing it in encrypted files" value=model.statement.secureMethodOne size="24"}}</span>,
      and
      <span class="text-input">{{input type="text" placeholder="only allowing certain staff to access it" value=model.statement.secureMethodTwo size="34"}}</span>.
    </p>

    {{#link-to "steps.step" 8 classNames="pure-button button-blue next-step-button"}}move along{{/link-to}}
  </div>

  <div class="pure-u-1-4">
    {{#step-help buttonText="Is this necessary?"}}
      <p>
        You're required to protect information from becoming public, and to safeguard it from being lost. You're also required to prevent access without authorisation, or by staff who don't require it for their job.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/storage-and-security-of-personal-information-principle-five/" target="_blank">Privacy Principle 5</a>
        and the
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/data-safety-toolkit/" target="_blank">data safety toolkit</a>
        for more.
      </p>
    {{/step-help}}
  </div>
</div>

