  <button {{action "toggleHelp"}}class="pure-button button-black-on-white help-text-button">{{buttonText}}</button>
  {{#if showHelp}}
    <div id="help-text" class="help-text">
      {{yield}}
    </div>
  {{/if}}



