
<div class="pure-g">
  <div class="pure-u-2-3">
    {{yield}}

    <p>Here’s a privacy statement to stick on your site. You should show this to users when you get information from them.</p>

    <code>
      lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua at vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod.
    </code>

  </div>

  <div class="pure-u-1-3">
    <button type="button">More about privacy</button>

    <div>
      <p>
        You’re required to show this to a user when you get information from them, or as soon as possible after that if this is not possible . See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/">Privacy Principle 3</a>
        for more.
      </p>

      <p>
        If you have any questions or concerns about the statement, check out the
        <a href="https://privacy.org.nz/how-to-comply/your-obligations/">Office of the Privacy Commissioner’s help information</a>,
        or contact our
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/">Enquiries Line</a>.
        You can always augment or replace this statement based on it’s advice.
      </p>

      <p>
        If you collect medical information special rules apply, and you should see the
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/">Privacy Health Toolkit</a>
        for more.
      </p>

    </div>
  </div>
</div>

