
<div class="pure-g">
  <div class="pure-u-2-3">
    {{yield}}

    <p>
      Users can contact us to view or correct information I have about them at
      {{input type="text" value=model.statement.emailAddress placeholder="this email address"}}
      (or
      {{input type="text" value=model.statement.phoneNumber placeholder="phone number"}},
      or
      {{textarea type="text" value=model.statement.postalAddress placeholder="postal address"}}
      ).
    </p>

    {{#link-to "steps.step" 6 classNames="pure-button button-blue next-step-button"}}move along{{/link-to}}
  </div>

  <div class="pure-u-1-3">
    <button type="button">Why do they need to contact me?</button>

    <div>
      <p>
        It’s a requirement that users can request and correct any information you hold about them. This includes querying whether you hold information about them at all. This is part of your requirement to take reasonable steps to ensure your information is correct.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/accuracy-etc-of-personal-information-to-be-checked-before-use-principle-eight/">Privacy Principle 8</a>,
        <a href="https://privacy.org.nz/access-to-personal-information-principle-six/">Privacy Principle 6</a>,
        and
        <a href="https://privacy.org.nz/correction-of-personal-information-principle-seven/">Privacy Principle 7</a>
        for more.
      </p>

    </div>
  </div>
</div>
