
<div class="pure-g">
  <div class="pure-u-2-3">
    {{yield}}

    <p>Are you required to collect any information by law?</p>

    <p>
      {{input type="checkbox"}}
      <label>No</label>
      <br />
      {{input type="checkbox"}}
      <label>Yes</label>
    </p>

  </div>

  <div class="pure-u-1-3">
    <button type="button">That matters?</button>

    <div>
      <p>
        You’ll need to place a notice informing the user which laws this information is collected under, and whether supplying this information is voluntary or not.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/">Privacy Principle 3</a>
        for more.
      </p>

    </div>
  </div>
</div>

