
<div class="pure-g">
  <div class="pure-u-3-4">
    {{yield}}

    <p>Are you required to collect any information by law?</p>

    <p>
      {{input type="checkbox"}}
      <label>No</label>
      <br />
      {{input type="checkbox"}}
      <label>Yes</label>
    </p>

    {{#link-to "steps.step" 8 classNames="pure-button button-blue next-step-button"}}move along{{/link-to}}
  </div>

  <div class="pure-u-1-4">
    <button type="button" class="pure-button button-black-on-white help-text-button" onclick="$('#help-text').toggle()">That matters?</button>

    <div id="help-text" class="help-text _hidden">
      <p>
        You’ll need to place a notice informing the user which laws this information is collected under, and whether supplying this information is voluntary or not.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/">Privacy Principle 3</a>
        for more.
      </p>

    </div>
  </div>
</div>

