
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: rgb(110, 110, 110);
  line-height: 1.4em;
}

h2 {
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 1.9em;
  font-weight: 400;
  color: rgb(0, 65, 80);
}

.step-heading {
  margin-top: 60px;
}

.pure-g .help-text {
  font-size: 15px;
}

.p2 {
  margin-top: 36px;
}

.b1 {
    margin-top: 48px;
}

.b2 {
  margin-top: 60px;
}

.logo-image {
  margin-top: 60px;
}

.get-started-button {
  width: 10.5em;
  font-weight:  400;
}

.whats-this-button {
  width: 15em;
  font-size: 14px;
  font-weight: 400;
}

/*----*/

.center-children {
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-blue {
  color: white;
  background-color: rgb(86,178,203);
}

.button-red-text {
  color: rgb(225, 95,85);
  border: 1px solid red;
  background-color: white;
}

.button-xlarge {
  font-size: 125%;
}