
/* ---- setup ---- */
/* variables mixins */


/* ---- layer-0 ---- */
/* browser inbuilt styles */


/* ---- layer-1/normalise ---- */
/* Normalise.css is pulled in by pure */


/* ---- layer-2/element-styles ---- */

/* Pure seems to hijack the font stack, requiring references to it's grid-system
 *  to change the default font.
 */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: rgb(110, 110, 110);
  line-height: 1.4em;
}

h2 {
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 1.9em;
  font-weight: 400;
  color: rgb(63, 88, 100);
}

/* Custom checkboxes made out of borders.
 * This requires a label directly after the checkbox to work.
 */

input[type=checkbox],
input[type=radio]     {
  display: none;
  margin-top:    1em;
  margin-bottom: 1em;
}

input[type=checkbox] + label:before,
input[type=radio]    + label:before  {
  content: '';

  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  margin-top:    1em;

  margin-right: 0.6em;
  margin-left: 1.4em;
  position: relative;
  top: 10px;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked    + label:before  {
  background-color: rgb(213, 212, 211);
  border: 2px solid black;
  content: '';
}

input[type="checkbox"] + label,
input[type="radio"]    + label  {
  font-size: 20px;
}


/* ---- layer-2/modules/site-wide ---- */

.container {
  margin-left: 30px;
  margin-right: 30px;
}

.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* doen't use pure-css' .hidden as it uses !important */
._hidden {
  display: none;
}

/* ---- layer-2/modules/completed-steps ---- */

.step-list {
  text-align: center;
}

.step-list .step-marker {
  border-radius: 50%;
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border: 2px solid black;
  margin: 0.3em 0.2em 0 0.2em;

  position: relative;
}

.step-list .step-marker a {
  color: transparent;
}

.step-list .step-marker.completed {
  background-color: black;
}

.step-list .step-marker .active:after {
  content: '';
  position: absolute;
  display: block;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 1px solid black;
}


/* ---- layer-2/modules/landing-page ---- */

.p2 {
  margin-top: 36px;
}

.b1 {
    margin-top: 48px;
}

.b2 {
  margin-top: 60px;
}

.landing-page .logo-image {
  margin-top: 60px;
}

.get-started-button {
  width: 10.5em;
  font-weight:  400;
}

.whats-this-button {
  width: 15em;
  font-size: 14px;
  font-weight: 400;
}

.center-children {
  text-align: center;
}


/* ---- layer-2/modules/whats-this-pages ---- */

.whats-this-header {
  margin-top: 3.7em;
  margin-bottom: 1.3em;
}

.whats-this-text, .whats-this-header {
  padding-right: 2.9em;
  padding-left: 2.9em;
}

.whats-this-header .logo-image {
  height: 1.8em;
}

.whats-this-header .tag-line {
  position: relative;
  bottom: 0.4em;
  padding-left: 0.4em;
}

.whats-this-text p {
  font-size: 0.8em;
  line-height: 1.4em;
}

.whats-this-text .get-started-button {
  margin-top: 1.9em;
}

/* ---- layer-2/modules/step-pages ---- */

.step-heading {
  margin-top: 60px;
}

.next-step-button {
  width: 11em;
  font-weight: 400;
  margin: 0 auto;
  display: block;
}

.help-text-button {
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
}

/* ---- layer-2/modules/privacy-statement ---- */

.privacy-statement {
  display: block;
  font-family: 'Courier New', monospace;
  font-size: 0.7em;
  line-height: 1.2em;
  color: black;

  border-left: 3px solid rgb(110, 110, 110);
  padding: 0 0.7em;
  margin: 2.3em 0;
}

/* ---- layer-2/modules/buttons ---- */

.button-blue {
  color: white;
  background-color: rgb(86,178,203);
}

.button-red-text {
  color: rgb(225, 95,85);
  border: 1px solid rgb(225, 95,85);
  background-color: white;
}

.button-black-on-white {
  color: black;
  border: 1px solid black;
  background-color: white;
}

.button-black-on-white:visited, .button-black-on-white:hover, .button-black-on-white:active {
  background-color: white;
  background-image: none;
}

.button-xlarge {
  font-size: 125%;
}

.button-small {
  font-size: 14px;
}


/* ---- layer-2/modules/custom-lists ---- */

.non-bullet-list {
  padding-left: 0;
}

.non-bullet-list li {
  list-style-type: none;

}


/* ---- layer-2/modules/custom-text-inputs ---- */

.text-input input[type="text"] {
  border: none;
  color: black;
}

.text-input {
  display: inline-block;
  height: 0.3em;
  position: relative;
  top: 0.8em;

  border: 2px solid black;
  border-top: none;
  padding: 0 0.2em;
}

.text-input input {
  position: relative;
  bottom: 1.3em;

  font-size: 0.8em;
}


/* ---- layer-2/modules/custom-modal ---- */

.modal-anchor {
  position: relative;
}

.modal {
  position: absolute;
  top: 0;
  right: 1em;
  margin-top: 16px;

  background: #EEE;
  opacity: 0.97;
  filter:alpha(opacity=97); /* For IE8 and earlier */
  padding: 2em;
  font-size: 0.8em;
  color: black;
}

.modal-close-button {
  position: absolute;
  right: 0.2em;
  top: -0.6em;
  margin-top: 16px;

  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;

  color: white;
  background-color: black;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  border: none;
}


/* ---- layer-2/modules/non-link-links ---- */

.non-link {
  text-decoration: none;
  color: rgb(110, 110, 110);
}


/* ---- layer-2/modules/help-text-area ---- */

.pure-g .help-text {
  font-size: 15px;
}

.help-text {
  width: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(239, 236, 232);
  line-height: 1.4em;
}

.help-text p:first-child {
  margin-top: 0;
  padding-top: 9px;
}

.help-text > * {
  margin-left: 12px;
  margin-right: 12px;
}


/* ---- layer-3/grid-systems ---- */
/* This is supplied by pure-css */

/* ---- layer-4/themes ---- */
/* not required */
