<div class="step">

  <div class="step-content">
    {{model.content}}
  </div>

  <div class="prompts">
    <ul>
      {{#each prompt in model.prompts itemController=steps.prompts}}
          {{partial "prompt"}}
      {{/each}}
    </ul>
  </div>

  {{outlet}}

  <button {{action "nextStep"}} class="pure-button pure-button-primary">move along</button>

</div>
