
{{outlet}}


<div class="pure-g">
  <div class="pure-u-1-1 center-children">
    <img src="/smallprint_logo.png" alt="small print." class="centered-image logo-image"/>

    <p class="p1">
      Get your privacy statement sorted. <br />
      It takes five minutes.
    </p>

    <p class="p2">
      All you’ll need is a good understanding <br />
      of your business.
    </p>

    <div class="b1">
      {{#link-to "steps.step" 1 classNames="pure-button button-xlarge button-blue get-started-button"}}get started{{/link-to}}
    </div>

    <div class="b2">
      {{#link-to "whatsThis" classNames="pure-button button-red-text whats-this-button"}}What's all this then?{{/link-to}}
    </div>
  </div>

  <div class="pure-u-1-1 help-text">
    <p>
      This tool creates basic Privacy Statements for small to medium businesses, and was created by the Office of the Privacy Commissioner. These are ways of informing your user about how you intend to use their information, and are required by New Zealand law.
    </p>

    <p>
      If the information you collects is complex or intrusive, or you have any questions about privacy law, check out our
      <a href="https://privacy.org.nz/how-to-comply/your-obligations/">help information</a>,
      or contact our
      <a href="https://privacy.org.nz/contact-us/">Enquiries Line</a>.
    </p>

    <p>If you collect medical information special rules apply, and you should see the
    <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/">Privacy Health Toolkit</a>
    for more.</p>
  </div>

</div>
