
{{outlet}}


<button {{action "getStarted"}} class="pure-button pure-button-primary">get started</button>

<button {{action "whatsThis"}} class="pure-button pure-button-secondary">what's all this then?</button>

 
