
{{outlet}}


<div class="pure-g">
  <div class="pure-u-1-1 center-children landing-page">
    <img src="/smallprint_logo.png" alt="small print." class="centered-block logo-image"/>

    <p class="p1">
      Get your privacy statement sorted. <br />
      It takes five minutes.
    </p>

    <p class="p2">
      All you’ll need is a good understanding <br />
      of your business.
    </p>

    <div class="b1">
      {{#link-to "steps.step" 1 classNames="pure-button button-xlarge button-blue get-started-button"}}get started{{/link-to}}
    </div>

    <div class="b2">
      {{#link-to "whats-this" classNames="pure-button button-red-text whats-this-button"}}What's all this then?{{/link-to}}
    </div>
  </div>
</div>
