{{outlet}}

<ul id="step-list">
  {{#each step in model}}
      <span {{bind-attr class="step.isCompleted:completed"}}>
      	{{#link-to 'steps.step' step}}{{step.id}}{{/link-to}}
      </span>
  {{/each}}
</ul>


