<div class="step">
  <div class="prompts">
    {{content}}
  </div>

  {{outlet}}
    
  <button {{action "nextStep"}} class="pure-button pure-button-primary">move along</button>

  <div id="progress-bar"></div>
</div>
