{{outlet}}

<ul id="step-list" class="step-list">
  {{#each step in model}}

      {{#if step.showInNav}}
      <span {{bind-attr class="step.isCompleted:completed :step-marker"}}>
      	{{#link-to 'steps.step' step}}{{step.id}}{{/link-to}}
      </span>
      {{/if}}
  {{/each}}
</ul>


