<div class="pure-g">
  <div class="pure-u-1-1">
    <div class="whats-this-header">
      <h3>Priv-o-matic</h3>
      <span class="tag-line">Get your privacy statement sorted.</span>
    </div>

    <div class="whats-this-text">
      <p>
        This tool, which was designed by the Office of the Privacy Commissioner for small to medium businesses, creates a basic privacy statements. A privacy statement  tells people how you will be  collecting, using and disclosing their information. A good privacy statement is important because New Zealand agencies are required by law to be transparent about how, when and why they collect personal information.
      </p>

      <p>
        If the information you collects is sensitive, complex or intrusive, or you have any questions about privacy law, check out our
        <a href="https://privacy.org.nz/how-to-comply/your-obligations/" target="_blank">help information</a>,
        or contact our
        <a href="https://privacy.org.nz/contact-us/" target="_blank">Enquiries Line</a>.
      </p>

      <p>If you collect medical information you should see the
      <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/" target="_blank">Privacy Health Toolkit</a>
      for more detailed help and educational resources.</p>

      <p>This tool uses your browser to do all the work - we don't collect any of the information you enter about your business.</p>

      
      {{#link-to "steps.step" 1 classNames="pure-button button-xlarge button-blue get-started-button centered-block" target="_blank"}}get started{{/link-to}}
    
    </div>
  </div>
</div>

{{outlet}}
